@import "tailwindcss";
/* @import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../../node_modules/flowbite"; */
@custom-variant dark (&:where(.dark, .dark *));

/* Preline UI */
@source "./node_modules/preline/dist/*.js";
@import "/workspaces/tailwind-flask-starter/node_modules/preline/variants.css";

/* Plugins */
@plugin "@tailwindcss/forms";